<header class="flex h-1/2 md:h-2/3 flex-row items-stretch justify-between sepia-0">
  <h1 class="flex w-1/2 p-2 md:p-16 flex-row items-stretch justify-between bg-black"
    >
    <div class="flex w-full justify-center items-center bg-auto bg-no-repeat bg-cover bg-center sepia-[.33]" 
        style="background-image: url('{{ .Site.BaseURL }}/hotta_kimegao.JPG')">
      <a class="flex text-white text-2xl font-black text-center" href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
    </div>
  </h1>
  <nav class="flex w-1/2 p-2 md:p-16 justify-center items-center bg-gradient-to-br from-yellow-600 to-yellow-800	 sepia-[.66]">
    <ul class="flex flex-wrap w-full flex-row justify-start items-stretch">
      {{- range $termName, $entries := .Site.Taxonomies.categories }}
        <li class="p-1 m-1 w-5/12 rounded bg-gradient-to-br from-slate-100 to-slate-200">
          <a class="flex w-5/12 text-lg font-bold text-center" href="{{ "/categories/" | relLangURL }}{{ $termName | urlize }}">{{ $termName | upper }}</a>
        </li>
      {{- end }}
    </ul>
  </nav>
</header>
