{{ define "main" }}
  <main class="sm:container sm:mx-auto ">
    <ul class="flex w-full flex-row justify-around items-stretch flex-wrap">
      {{ $burl := .Site.BaseURL }}
      {{ $paginator := .Paginate .RegularPages 40 }} 
      {{ with $paginator }} 
        {{ range $paginator.Pages }}
          <li class="flex min-h-[20%] w-5/12 border border-zinc-900	 rounded flex-col justify-start items-stretch p-1 m-1">
              <header class="flex justify-start items-baseline border-b border-zinc-900 p-1 m-1">
                <a href="{{ .Permalink }}">
                  <h1 class="font-bold text-lg">{{ .Title }}</h1>
                </a>
                <div>{{ .Date.Format "2006-01-02" }}</div>
              </header>
              <a href="{{ .Permalink }}">
                <div class="prose p-1 m-1 break-all	">
                  {{ .Summary }}..
                </div>
              </a>
          </li>

        {{ with $paginator.HasPrev }}
          <li class="flex min-h-[20%] w-5/12 border border-zinc-900	 rounded flex-col justify-start items-stretch p-1 m-1">
            <a href="{{ $burl }}{{ $paginator.Prev.URL }}">
              <strong>Prev</strong>
            </a>
          </li>
        {{ end }}
        {{ with $paginator.HasNext }}
          <li class="flex min-h-[20%] w-5/12 border border-zinc-900	 rounded flex-col justify-start items-stretch p-1 m-1">
            <a href="{{ $burl }}{{ $paginator.Next.URL }}">
              <strong>Next</strong>
            </a>
          </li>
          
        {{ end }}
        {{ end }}
      {{ end }}
    </ul>
  </main>
  
{{ end }}
